name: Firebaseにデプロイ
on: push

jobs:
  build:
    name: ビルド
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@master
      - run: yarn
      - run: yarn generate
      - run: yarn global add firebase-tools
      - run: firebase use v-kansai --token ${{ secrets.FIREBASE_TOKEN }}
      - run: firebase deploy --token ${{ secrets.FIREBASE_TOKEN }}